.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  color: var(--c-text-white);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  font-family: 'Poppins', Courier, monospace;
  margin-left: 12px;
  text-decoration: none;
  color: var(--c-text-white);
  transition: 0.4s;
}

.nav-link:hover {
  color: var(--c-secondary);
  transition: 0.4s;
}