.thead{
    color: white;
  }
  
  .tbody{
    color:white;
  }
  
  .table-wrapper{
    width: 100%;
    background-color: #2E8A99;
  }
  
  .table{
    width: 100%;
    overflow: hidden;
    table-layout: auto;  
    border-collapse: collapse;
    white-space: nowrap;
    margin: auto;
    overflow-x: auto;
  }

  .dates-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
  }

  .dates-filter, p {
    margin-right: 3px;
  }
  
  .table th,
  .table td {
    padding: 1.5rem;
    text-align: center;
  }
  
  .table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .table tbody tr:hover{
    background-color: #2E8A99;
  }
  
  .dates{
    text-align: center;
    padding: 30px;
  }

  .filtrar-comercio {
    color: var(--c-text-dark);
  }

  .btn-pagar-orden {
    color: var(--c-text-dark);
  }