.section-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid;
    border-color: white;
  }
  .orders-container {
    width: 100%;
  }
  .section-container-title{
    background-color: #1F6E8C;
    border-bottom-color: white;
    border-bottom: solid;
    color: white;
    text-align: left;
  }
  .section-container-title h4{
    font-size: large;
    display: inline-block;
    margin: 1rem 1rem;
  }
  
  .form-filter{
  display: inline;
  width: 100%;
  }
  
  .order-form{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
  
  }
  
  .link-orden{
    text-decoration: none;
    color: white;
    margin: auto 10px;
    transition: 0.4s;
  }
  .link-orden:hover{
    text-decoration: none;
    color: #0E2954;
    transition: 0.4s;
  }