.centrado-horizontal {
    display: flex;
    justify-content: center;
}

.filtrar-comercio input {
    margin-left: 5px;
    padding: 2px 10px;
}

.filtrar-comercio button {
    margin-left: 5px;
}

.filtrar-comercio select {
    margin: auto;
    padding: 2px 10px;
}

.form-control-comercio {
    width: 30%;
    height: 35px;
    margin: auto;

}

.filtrar-comercio {
    margin: auto 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.filtrar-comercio input,
.filtrar-comercio select,
.filtrar-comercio label {
  margin: 5px;
}

.simple-button {
    margin: 2px;
    padding: 2px 10px;
    border-radius: 4px;
}

.btn-danger {
    color: #fff;
    background-color: #ff0000;
}

.btn-danger:hover {
    color: #ff0000;
    background-color: #fdddb4;
}

.btn-dark {
    color: #fdddb4;
    background-color: var(--c-primary);

}

.btn-dark:hover {
    color: var(--c-text-dark);
    background-color: #fdddb4;
}

.btn-white {
    color: var(--c-primary);
    background-color: #fdddb4;
}

.btn-white:hover {
    color: var(--c-primary);
    background-color: #fff;
}