@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(14,41,84);
background: linear-gradient(90deg, rgba(14,41,84,1) 0%, rgba(31,110,140,1) 88%, rgba(46,138,153,1) 100%);
}
:root {
    --c-primary: #0E2954;
    --c-secondary: #1F6E8C;
    --c-white: #D9D9D9;
    --c-text-white: #FFFCFD;
    --c-text-dark: #1f1f1f;
}

.text-center {
    text-align: center;
}
